<topology>

            <gateway>

                <provider>
                    <role>authentication</role>
                    <name>ShiroProvider</name>
                    <enabled>true</enabled>
                    <param>
                        <name>sessionTimeout</name>
                        <value>30</value>
                    </param>
                    <param>
                        <name>main.ldapRealm</name>
                        <value>org.apache.hadoop.gateway.shirorealm.KnoxLdapRealm</value>
                    </param>
                    <param>
                        <name>main.ldapRealm.userDnTemplate</name>
                        {% raw %}<value>uid={0},ou=people,dc=hadoop,dc=apache,dc=org</value>{% endraw %}
                    </param>
                    <param>
                        <name>main.ldapRealm.contextFactory.url</name>
                        {% raw %}<value>ldap://{{knox_host_name}}:33389</value>{% endraw %}
                    </param>
                    <param>
                        <name>main.ldapRealm.contextFactory.authenticationMechanism</name>
                        <value>simple</value>
                    </param>
                    <param>
                        <name>urls./**</name>
                        <value>authcBasic</value>
                    </param>
                </provider>

                <provider>
                    <role>identity-assertion</role>
                    <name>Default</name>
                    <enabled>true</enabled>
                </provider>

                <provider>
                    <role>authorization</role>
                    <name>AclsAuthz</name>
                    <enabled>true</enabled>
                </provider>

                {% if is_namenode_ha %}
                <provider>
                    <role>ha</role>
                    <name>HaProvider</name>
                    <enabled>true</enabled>
                    <param>
                        <name>WEBHDFS</name> <value>maxFailoverAttempts=3;failoverSleep=1000;maxRetryAttempts=300;retrySleep=1000;enabled=true</value>
                    </param>
                </provider>
                {% endif %}

            </gateway>

            <service>
                <role>NAMENODE</role>
                {% raw %}<url>{{namenode_address}}</url>{% endraw %}
            </service>

            <service>
                <role>JOBTRACKER</role>
                {% raw %}<url>rpc://{{rm_host}}:{{jt_rpc_port}}</url>{% endraw %}
            </service>

            <service>
                <role>WEBHDFS</role>
                {% raw %}{{webhdfs_service_urls}}{% endraw %}
            </service>

            <service>
                <role>WEBHCAT</role>
                {% raw %}<url>http://{{webhcat_server_host}}:{{templeton_port}}/templeton</url>{% endraw %}
            </service>

            <service>
                <role>OOZIE</role>
                {% raw %}<url>{{oozie_scheme}}://{{oozie_server_host}}:{{oozie_server_port}}/oozie/</url>{% endraw %}
            </service>

            <service>
                <role>OOZIEUI</role>
                {% raw %}<url>{{oozie_scheme}}://{{oozie_server_host}}:{{oozie_server_port}}/oozie/</url>{% endraw %}
            </service>


            <service>
                <role>WEBHBASE</role>
                {% raw %}<url>http://{{hbase_master_host}}:{{hbase_master_port}}</url>{% endraw %}
            </service>

            <service>
                <role>HIVE</role>
                {% raw %}<url>http://{{hive_server_host}}:{{hive_http_port}}/{{hive_http_path}}</url>{% endraw %}
            </service>

            <service>
                <role>RESOURCEMANAGER</role>
                {% raw %}<url>http://{{rm_host}}:{{rm_port}}/ws</url>{% endraw %}
            </service>

            <service>
                <role>DRUID-COORDINATOR-UI</role>
                {% raw %}{{druid_coordinator_urls}}{% endraw %}
            </service>

            <service>
                <role>DRUID-COORDINATOR</role>
                {% raw %}{{druid_coordinator_urls}}{% endraw %}
            </service>

            <service>
                <role>DRUID-OVERLORD-UI</role>
                {% raw %}{{druid_overlord_urls}}{% endraw %}
            </service>

            <service>
                <role>DRUID-OVERLORD</role>
                {% raw %}{{druid_overlord_urls}}{% endraw %}
            </service>

            <service>
                <role>DRUID-ROUTER</role>
                {% raw %}{{druid_router_urls}}{% endraw %}
            </service>

            <service>
                <role>DRUID-BROKER</role>
                {% raw %}{{druid_broker_urls}}{% endraw %}
            </service>

            <service>
                <role>ZEPPELINUI</role>
                {% raw %}{{zeppelin_ui_urls}}{% endraw %}
            </service>

            <service>
                <role>ZEPPELINWS</role>
                {% raw %}{{zeppelin_ws_urls}}{% endraw %}
            </service>
            <service>
                <role>YARNUI</role>
                <url>{{yarnui_protocol}}://{{yarnui_host}}:{{yarnui_port}}/</url>
            </service>
            <service>
                <role>AMBARIUI</role>
                <url>{{ambari_ui_url}}</url>
            </service>
            <service>
                <role>AMBARIWS</role>
                <url>{{ambariws_protocol}}://{{ambariws_host}}:{{ambariws_port}}</url>
            </service>
            {% if is_ranger_installed %}
            <service>
                <role>RANGER</role>
                <url>{{ranger_base_url}}/</url>
            </service>
            <service>
                <role>RANGERUI</role>
                <url>{{rangerui_base_url}}/</url>
            </service>
            {% endif %}

            {% if is_solr_installed %}
            <service>
                <role>SOLR</role>
                <version>6.0.0</version>
                <url>{{solr_protocol}}://{{solr_host}}:{{solr_port}}/solr</url>
            </service>
            {% endif %}

            <service>
                <role>HDFSUI</role>
                <version>2.7.0</version>
                <url>{{hdfsui_protocol}}://{{hdfsui_host}}:{{hdfsui_port}}/</url>
            </service>

</topology>